@import "tailwindcss";

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
} */
html,
body {
  height: 100%;
  width: 100%;
  background-color: #f5f4ed;
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.headingContainer div {
  height: 208px;
  width: 759px;
  overflow: hidden;
}
h1 {
  font-size: 200px;
  font-weight: 600;
  letter-spacing: -12px;
  transform: translateY(-79px);
}

.subHeading {
  width: 631px;
  height: 581px;
}

h2 {
  font-size: 24px;
  font-weight: 500;
}

p {
  font-size: 36px;
  font-weight: 500;
  line-height: 123%;
}
